body
  font-family: 'Roboto', sans-serif

.nav-title
  font-weight: bold

.side-bar
  height: 100vh
  background-color: #f0efeffa

.search-item-result:hover
  background-color: #cecccce0
  font-weight: bold
  border: 1px solid #2ec6f5

.chart
  height: 50vh
